<div id="progression" class="h-32 mt-12" data-progression="<%= progression.chords.to_json %>">
  <div class="flex items-center w-full mx-auto text-white text-2xl text-center">
    <div class="flex-1 flex justify-center">
      <% progression.chords.each do |chord_mode| %>
        <% chord = chord_mode['chord'] %>
        <% mode = chord_mode['mode'].downcase %>

        <div class="progression-chord relative flex first:ml-0 ml-4 items-center justify-center h-16 w-16 text-2xl text-modes-<%= mode %> hover:cursor-pointer hover:border-modes-<%= mode %>" data-chord="<%= chord %>" data-mode="<%= mode %>" data-action="mouseover->home#handleProgressionChordHover" data-controller="home">
          <span class="remove-chord absolute hidden -top-3 -right-3 w-6 h-6 bg-gray-700 border-modes-<%= mode %> rounded-full text-xs text-white hover:cursor-pointer active:transform active:scale-[0.90]" data-action="click->home#removeChord" data-controller="home" data-chord="<%= chord %>" data-mode="<%= mode %>">x</span>
          <% if chord == 'Silence' %>
            <span><i class="fas fa-volume-off"></i></span>
          <% else %>
            <span><%= chord %></span>
          <% end %>
        </div>

      <% end %>
    </div>
  </div>
</div>
