<% progression.chords.each do |chord_mode| %>
  <% chord = chord_mode['chord'] %>
  <% mode = chord_mode['mode'] %>

  <div class="progression-chord h-full w-32 text-modes-<%= mode.downcase %> hover:cursor-pointer hover:border-<%= mode %>" data-chord="<%= chord %>" data-mode="<%= mode.downcase %>" data-action="mouseover->home#handleProgressionChordHover" data-controller="home">
    <%= chord %>
  </div>
<% end %>
