<%
  key_name = key.name
  selected = root == key_name ? 'selected' : ''
  inner_border = root != key_name ? 'border-gray-400' : 'border-syntakt-green-fg'
  text_color = root != key_name ? 'text-gray-400' : 'text-syntakt-green-fg'
%>
<%= link_to root_path(key: key_name) do %>
  <div class="h-32 grid grid-col-1 grid-row-2">
    <div class="<%= selected %> key <%= key_name.include?('#') ? 'black-key' : 'white-key' %>" data-note="<%= key_name %>" data-sample="<%= asset_path(note_asset_name(key_name)) %>">
      <div class="flex w-12 h-12 m-auto border-2 <%= inner_border %> items-center justify-center">
        <span class="<%= text_color %>"><%= key_name %></span>
      </div>
    </div>
  </div>
<% end %>
