<div class="flex flex-col">
  <div class="w-full grid grid-rows-1 grid-cols-12 gap-y-2" data-controller="home">
    <% @keys.each do |key| %>
      <%= link_to root_path(key: key) do %>
        <% if key.include? "#" %>
          <div class="black-key <%= "selected" if @key == key %>" data-action="click->home#selectKey">
            <%= key %>
          </div>
        <% else %>
          <div class="white-key <%= "selected" if @key == key %>" data-action="click->home#selectKey">
            <%= key %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if @key %>
    <div class="grid grid-cols-8 border mt-16" data-controller="home">
      <% @chords.each do |mode, chords| %>
        <div class="p-2 bg-gray-100 border border-gray-200">
          <%= mode %>
        </div>

        <% chords.each_with_index do |chord, index| %>
          <div class="chord-box p-2 bg-white border border-gray-200 font-serif text-center hover:cursor-pointer">
            <div class="w-2/3 text-center" data-action="mouseover->home#displayChordNotes" data-chord-notes="<%= chord.notes.map(&:name).join(' - ') %>"><%= chord.name %></div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="flex h-32 items-center p-2 bg-white border border-gray-200 font-serif text-center mt-10">
      <div id="chord-notes" class="flex text-3xl mx-auto"></div>
    </div>
  <% end %>
</div>
